<!DOCTYPE html>

<html lang="en-us">
<head>
  <title>Health Search|search</title>
</head>


<body style="background-color:powderblue;">

<!-- Container -->
<div>


  <!-- Header -->
  <div id="header">
    <div id="branding">

      <h1 id="site-name">Health Search</a></h1>

    </div>


  </div>
</div>
  <!-- END Header -->


  <!-- Content -->
  <div >
    <div>

      <h1>Paitent information</h1>


    </div>
  </div>
<div id="content-main">
  <form action="" method="post" id="search_form"><input type='hidden'
                                                        name='csrfmiddlewaretoken'
                                                        value='GF18JmXROxZoklfaWQcsBKSgSBeWOBA5'/>
    <div class="form-row">
      <label>Datasource</label> <select name="datasource_list">
      <option>{{webmed}}</option>
      <option>oud</option>
    </select>
    </div>
    <div class="form-row">
      <label>Age</label> <input id="id_age" maxlength="60" name="age" type="text"/>
      <select name="sexlist">
        <option>Female</option>
        <option>Male</option>
      </select>
      <label>Sypotom</label> <input id="id_sypotom" maxlength="256" name="sypotom" type="text"/>
      <label>Disease</label> <input id="id_disease" maxlength="256" name="disease" type="text"/>
    </div>
    <div class="submit-row">
      <input type="submit" value="Search"/>
    </div>
  </form>
  <h2>Search result</h2>
  <ol>
    <li>result1</li>
    <li>result2</li>
    <li>result3</li>
  </ol>
  <script type="text/javascript">
document.getElementById('id_age').focus()
      </script>
</div>
<br />
</div>
<!-- END Content -->
<div></div>
</div>
<!-- END Container -->

</body>
</html>