
{% extends 'patientSearch/base.html' %}
{% block content %}
<!-- Content -->
<div>
  <div>

    <h1>Patient information</h1>


  </div>
</div>
<div id="content-main">

  <form action="" method="post" id="query_form" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}


    <div style="width:75%" align="right">

      <label>Datasource:</label>
      <select name="datasource_list">
        {%for resource_name in resource_name_list%}
        <option>{{resource_name}}</option>
        {% endfor%}
      </select>
    </div>

    <table style="width:90%">
      <tr>
        {% for field in query_form %}
        <td>
          {{ field.label }}:{{ field }}
        </td>
        {% endfor%}
      </tr>
    </table>

    <div class="submit-row" style="width:80%" align="center">
      <input type="submit" value="Search"/>
    </div>
  </form>
  <h2>Search result</h2>
  <ol>
    <li>result1</li>
    <li>result2</li>
    <li>result3</li>
  </ol>

</div>
<!-- END Content -->

<!-- END Container -->
{% endblock %}
