<!DOCTYPE html>

<html lang="en-us">
<head>
  <title>Health Search|search</title>
</head>


<body style="background-color:powderblue;">

<!-- Container -->
<div>


  <!-- Header -->
  <div id="header">
    <div id="branding">

      <h1 id="site-name" style="width:100%;text-align:center">Health Search</h1>

    </div>


  </div>
</div>
<!-- END Header -->


<!-- Content -->
<div>
  <div>

    <h1>Patient information</h1>


  </div>
</div>
<div id="content-main">

  <form action="" method="post" id="query_form">
    {% csrf_token %}


    <div style="width:75%" align="right">

      <label>Datasource:</label>
      <select name="datasource_list">
         {%for resource_name in resource_name_list%}
        <option>{{resource_name}}</option>
        {% endfor%}
      </select>
    </div>

    <table style="width:90%">
      <tr>
        {% for field in query_form %}
        <td>
          {{ field.label }}:{{ field }}
        </td>
        {% endfor%}
      </tr>
    </table>

    <div class="submit-row" style="width:80%" align="center">
      <input type="submit" value="Search"/>
    </div>
  </form>
  <h2>Search result</h2>
  <ol>
    <li>result1</li>
    <li>result2</li>
    <li>result3</li>
  </ol>
  <script type="text/javascript">
document.getElementById('id_age').focus()

  </script>
</div>
<br/>
</div>
<!-- END Content -->
<div></div>
</div>
<!-- END Container -->

</body>
</html>